* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial
}

.nav-container {
  height: 100vh;
  width: 100%;
}

nav {
  background: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 5%;

}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px 70px;
}









/*  */
/*  */
/*  */

.material-icons{
    font-size: 150;
    padding: 0 40px 0 30%;
    color:white;
    text-shadow:0px 2.5px rgb(209, 105, 1);
  }
  
  .material-icons2{
  font-size:28px;
  color:rgb(255, 128, 0);
  }
  
  .menuside {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: Verdana;
  }
  
  .menuside a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .menuside a:hover {
    color: #f1f1f1;
  }
  
  .menuside .menuclose {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .menu_button{
    font-family: Arial;
    font-size:40px;
    cursor: pointer;
    color:white;
    text-shadow:0px 1.5px rgb(231, 231, 231);
    margin-top:70px;
    margin-left:10px;
 }
 

 .Taskbar{
  width:101%;
  padding:0px;
  height:126px;
  margin-top:-22px;
  margin-left:-8px;
}

