.TextFont{
  font-family:Arial;
  font-size:15px;
}

html{
  scroll-behavior: smooth;
}

body {
background-color: rgb(255, 128, 0);
}

.Taskbar{
  width:101%;
  padding:0px;
  height:126px;
  background-color: rgb(255, 128, 0);
  margin-top:-22px;
  margin-left:-8px;
}

.TopButton{
border:black 2px;
border-radius: 10px;
}

.ExtraBar{
width:101%;
padding:0px;
height:400px;
background-color: white;
margin-top:6px;
margin-left:-8px;
float:left;
}

.ExtraExtraBar{
width:101%;
padding:0px;
height:50px;
background-color: rgb(255, 136, 16);
margin-top:-500px;
margin-left:-8px;
float:left;
}

.ShapeThing{
width:600px;
height:500px;
background-color: rgb(255, 136, 16);
/* background-color:black; */
clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
float:right;
margin-right:-8px;
}

.ImageThing {
width:700px;
height:500px;
background-color:white;
clip-path: polygon(100% 0, 100% 50%, 90% 100%, 25% 100%, 50% 0);
float:right;
margin-right:-600px;
padding:0;
}

.Title {
color:white;
font-size:30px;
font-family:Arial;
margin-left:43%;
}

div.image::before {
content:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
width:500px;
height:300px;
margin-left:-300px;
}

div.image2:before {
  content:url("https://imageio.forbes.com/specials-images/imageserve/5fc9284c22a16f3757f95c9e/BBQ-hamburger-table-scene--top-view-over-dark-wood/960x0.jpg?format=jpg&width=960");
  width:500px;
  height:300px;
  margin-left:172px;
}


.TitleText{
color:white;
text-shadow:0px 1.5px rgb(231, 231, 231);
font-size:40px;
font-family:Arial;
}

.SubText{
color:white;
font-size:20px;
font-family:Arial;
margin-top:10px;
margin-left:60px;
}

.TitleLine{
Width:350px;
height:5px;
background-color: rgb(255, 255, 255);
text-shadow:0px 1.5px rgb(231, 231, 231);
margin-top:-56px;
margin-left:150px;
margin-top:-26px;
margin-left:530px;
}

.ButtonFix{
  background-color: transparent;
  border:transparent;
}

.Button:hover{
cursor: pointer;
}

.Bigtext{
font-family:Arial;
font-size:30px;
color: rgb(255, 128, 0);
font-weight:bold;
text-decoration: none;
text-shadow:0px 1.5px rgb(209, 105, 1);
}

.Biggertext{
  font-family:Arial;
  font-size:50px;
  color: rgb(255, 128, 0);
  font-weight:bold;
  text-decoration: none;
  text-shadow:0px 1.5px rgb(209, 105, 1);
  }

.Smalltext{
  font-family:Arial;
  font-size:20px;
  color: rgb(255, 128, 0);
  font-weight:bold;
}

.material-icons{
  font-size:28px;
  color:white;
  text-shadow:0px 1.5px rgb(209, 105, 1);
}

.menuside {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(51, 51, 51);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: Verdana;
}

.menuside a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.menuside a:hover {
  color: #f1f1f1;
}

.menuside .menuclose {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.menu_button{
  font-family: Arial;
  font-size:40px;
  cursor: pointer;
  color:white;
  text-shadow:0px 1.5px rgb(231, 231, 231);
  z-index:1;
  margin-top:70px;
  margin-left:10px;
}

/* LOGIN POPUP */

h3 {
  text-align: center;
  color: #413b3b;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 15px;
}

h5 {
  text-align: center;
  color: #82807f;
  margin: 80px auto;
  font-size: 20px;
  width: 50%;
  line-height: 1.7;
}

button {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 1em;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #d46b15;
}

.login-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

#login-div:target {
  visibility: visible;
  opacity: 1;
  z-index:10;
}

.wrapper {
  margin: 70px auto;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index:12312;
}

.wrapper h2 {
  margin-top: 0;
  color: #333;
}

.wrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.wrapper .login-content {
  max-height: 30%;
  overflow: auto;
}

.container-login {
  border-radius: 5px;
  background-color: orange;
  letter-spacing: 3px;
}

form label {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #413b3b;
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 50px;
}

.Aa {
  text-decoration:none;
}

.Aa:hover {
  text-decoration: underline;
}

.LoginText{
font-family: "Arial";
color:white;
font-weight:bold;
}

.flip{
transform:scaleX(-1);
}

.InfoText{
  transform:scaleX(-1);
  margin-top:-300px;
  margin-left:0px;
  float:left;
  color:white;
  font-size:26px;
  font-family:Arial;
}

.FoodDisplay{
  border-color:rgb(231, 231, 231);
  background-color:white;
  border-style:solid;
  border-radius:15px;
  height:400px;
  width:300px;
  margin-left:50px;
  margin-top:50px;
  box-shadow:0px 2px 5px rgb(231, 231, 231);
}

.FoodText{
  font-family:Arial;
  font-weight:bold;
  margin-left:64px;
  font-size:20px;
  margin-left:75px;
}

.FoodImage{
  border:4px rgb(231, 231, 231);
  box-shadow:0px 2px 5px rgb(231, 231, 231);
  border-style:solid;
  padding:0;
}

.FoodPrice{
  font-family:Arial;
  font-weight:bold;
  margin-left:64px;
  font-size:20px;
  margin-left:125px;
}

.RestaurantName{
  font-family:Arial;
  font-size:15px;
  color:gray;
  margin-left:115px;
}

.FoodButton{
  text-decoration: none;
  border:2px green;
  background-color:lightgreen;
  box-shadow:0px 2px 5px rgb(231, 231, 231);
  border-style:solid;
  transition: 0.2s ease-in-out;
  margin-left:100px;
  width:100px;
  height:50px;
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.FoodButton:hover{
  transform:scale(1.05);
  border: lightgreen;
  background-color:green;
}

.FoodButton:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.FoodButton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background:white;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

.LoginButton{
  cursor: pointer;
}