.TextFont{
    font-family:Arial;
    font-size:15px;
}

body {
  background-color: rgb(255, 128, 0);
}

.Taskbar{
    width:101%;
    padding:0px;
    height:126px;
    background-color: rgb(255, 128, 0);
    margin-top:-22px;
    margin-left:-8px;
}

.TopButton{
  border:black 2px;
  border-radius: 10px;
}

.ExtraBar{
  width:101%;
  padding:0px;
  height:400px;
  background-color: white;
  margin-top:6px;
  margin-left:-8px;
  float:left;
}

.ExtraExtraBar{
  width:101%;
  padding:0px;
  height:50px;
  background-color: rgb(255, 136, 16);
  margin-top:-500px;
  margin-left:-8px;
  float:left;
}

.ShapeThing{
  width:600px;
  height:500px;
  background-color: rgb(255, 136, 16);
  /* background-color:black; */
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  float:right;
  margin-right:-8px;
}

.ImageThing {
  width:700px;
  height:500px;
  background-color:white;
  clip-path: polygon(100% 0, 100% 50%, 90% 100%, 25% 100%, 50% 0);
  float:right;
  margin-right:-600px;
  padding:0;
}

.flip{
  transform:scaleX(-1);
}

.Title {
  color:white;
  font-size:30px;
  font-family:Arial;
  margin-left:43%;
}

div.image::before {
  content:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  width:500px;
  height:300px;
  margin-left:-300px;
}

div.image2:before {
  content:url("https://imageio.forbes.com/specials-images/imageserve/5fc9284c22a16f3757f95c9e/BBQ-hamburger-table-scene--top-view-over-dark-wood/960x0.jpg?format=jpg&width=960");
  width:500px;
  height:300px;
  margin-left:172px;
}

.TitleText{
  color:white;
  text-shadow:0px 1.5px rgb(231, 231, 231);
  font-size:40px;
  font-family:Arial;
}

.SubText{
  color:white;
  font-size:20px;
  font-family:Arial;
  margin-top:10px;
  margin-left:60px;
}

.TitleLine{
  Width:350px;
  height:5px;
  background-color: rgb(255, 255, 255);
  text-shadow:0px 1.5px rgb(231, 231, 231);
  margin-top:-26px;
  margin-left:530px;
}

.Button{
  transition: all .2s ease-in-out;
}

.Button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.Bigtext{
  font-family:Arial;
  font-size:30px;
  color: rgb(255, 128, 0);
  font-weight:bold;
  text-decoration: none;
  text-shadow:0px 1.5px rgb(209, 105, 1);
}

.Smalltext{
  font-family:Arial;
  font-size:20px;
  color: rgb(255, 128, 0);
  font-weight:bold;
}

.material-icons{
    font-size:28px;
    color:white;
    text-shadow:0px 1.5px rgb(209, 105, 1);
}

.material-icons2{
  font-size:28px;
  color:rgb(255, 128, 0);
}

.menuside {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: Verdana;
  }
  
  .menuside a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .menuside a:hover {
    color: #f1f1f1;
  }
  
  .menuside .menuclose {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }

  .menu_button{
    font-family: Arial;
    font-size:40px;
    cursor: pointer;
    color:white;
    text-shadow:0px 1.5px rgb(231, 231, 231);
    z-index:1;
    margin-top:70px;
    margin-left:10px;
  }